#irc-container {
    background: $irc-background;
    color: $primary;

    .inner-app {
        .channel-list {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;

            .irc-channel {
                background: $irc-channel-bg;
                padding: 15px;
                font-size: 25px;
                color: $primary;
                border-bottom: 1px solid $irc-channel-brdr;
    
                span {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    pointer-events: none;
                    
                    &::before {
                        content: '#';
                        font-size: 18px;
                        line-height:25px;
                        color: $irc-accent;
                        font-weight: bold;
                    }
                }
    
                &:hover {
                    transition: all ease-in 0.15s;
                    filter: brightness(0.8);
    
                    span::before {
                        transition: color ease-in 0.15s;
                        color: $primary;
                    }
                }
            }
        }

        .btn-floating {
            position: absolute;
            bottom:2%;
            right: 2%;
            background-color: $irc-accent !important;
        }
    }
}

#irc-convo-container {
    background: $irc-background;
    color: $primary;

    .inner-app {
        .irc-top-bar {
            padding: 10px;
            font-size: 15px;
            color: $primary;
            font-weight: bold;
            border-bottom: 1px solid $irc-channel-brdr;
            background: $irc-channel-bg;

            i.back-button {
                float: left;
                line-height: 40px;
                padding-right: 15px;

                &:hover {
                    transition: all ease-in 0.15s;
                    filter: brightness(85%);
                }
            }

            .irc-channel {
                width: 44%;
                font-size: 20px;
                line-height: 35px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                float: left;

                &::before {
                    content: '#';
                    font-size: 18px;
                    line-height:25px;
                    color: $irc-accent;
                    font-weight: bold;
                }
            }

            .irc-top-actions {
                display: inline-block;
                width: 49%;
                line-height: 40px;
                text-align: right;

                i {
                    padding: 10px;

                    &:hover {
                        transition: all ease-in 0.15s;
                        filter: brightness(85%);
                    }
                }
            }
        }

        .message-list {
            height: 83%;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .irc-text-input {
            height: 10%;
            border-top: 1px solid $irc-channel-brdr;
            background: $irc-channel-bg;

            #irc-new-message {
                -webkit-margin-after: 0;
                margin-block-end: 0;

                .input-field {
                    margin: 0;
                    display: inline-block;
                    width: 85%;

                    #irc-input {
                        padding: 10px;
                        margin: 0;
                        height: 65%;
                        color: $primary;

                        &:focus {
                            border-color: $irc-accent !important;
                          }
                    }

                    .character-counter {
                        float: right;
                        font-size: 12px;
                        height: 1px;
                        position: absolute;
                        bottom: 0%;
                        right: 1%;
                    }
                }

                i {
                    font-size: 25px;
                    position: absolute;
                    bottom: 2.5%;
                    right: 3%;
                    color: $primary;
                    
                    &:hover {
                        transition: all ease-in 0.15s;
                        color: $irc-accent;
                    }
                }
            }
        }
    }
}